html {background-color: #efedef;}
h1 { color: #fb9fa4;
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 0 0;
  padding: 50px 50px;
  text-align: center;
  text-transform: uppercase; }

p { color: #fb9fa4;
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 45px;
  margin: 0 0 0;
  padding: 60px 60px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  text-transform: uppercase; }

p6 { color: #766D6D;
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 45px;
  margin: 0 0 0;
  padding:60px 60px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  text-transform: uppercase; }

<<<<<<< HEAD

  * {
    margin: 0;
    padding: 0;
  }

  nav {
    margin: 50px;
  }

  ul {
    overflow: auto;
    list-style-type: none;
  }

  li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 70px;
  }

  li:last-child {
    border-right: none;
  }

  li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
  }

  li a:hover {
    color: #666;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
=======
  ul {color: #A9A9A9;
    font-family: 'Open Sans Condensed',
    sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 45px;
    margin: 0 0 0;
    padding: 48px 48px;
    text-align: left;
    text-transform: uppercase; }

    .img-circle {
        border-radius: 50%;
      padding: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }


    p1 { color: #766D6D;
      font-family: 'Open Sans Condensed',
      sans-serif;
      font-size: 20
      px;
      font-weight: 450;
      line-height: 20px;
      margin: 0 0 0;
      text-align: center;
        }

       p2 { color: #766D6D;
         font-family: 'Open Sans Condensed',
         sans-serif;
         font-size: 20
         px;
         font-weight: 450;
         line-height: 20px;
         margin: 0 0 0;
         text-align: center;
          }

          h2 { color: #766D6D;
            font-family: 'Open Sans Condensed',
            sans-serif;
            font-size: 60px;
            font-weight: 700;
            line-height: 60px;
            margin: 0 0 0;
            padding: 50px 50px;
            text-align: center;
            text-transform: uppercase; }

            h4 { color: #766D6D;
              font-family: 'Open Sans Condensed',
              sans-serif;
              font-size: 40px;
              font-weight: 700;
              line-height: 60px;
              margin: 0 0 0;
            text-align: center;
              text-transform: uppercase; }

            h3 { color: #766D6D;
              font-family: 'Open Sans Condensed',
              sans-serif;
              font-size: 80px;
              font-weight: 700;
              line-height: 60px;
              margin: 0 0 0;
              padding: 50px 50px;
              text-align: center;
              text-transform: uppercase; }






>>>>>>> ef0e8fa4080d3fd9dc2c8883999cb3df80d4bc29
