
html {background-color: #efedef;}
h1 { color: #fb9fa4;
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 0 0;
  padding: 50px 50px;
  text-align: center;
  text-transform: uppercase; }
p { color: #fb9fa4;
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 45px;
  margin: 0 0 0;
  padding: 48px 48px;
  text-align: center;
  text-transform: uppercase; }
